[user]
	name = "Ankur Oberoi"
	email = "aoberoi@gmail.com"
[color]
	ui = true
[core]
	excludesfile = /Users/ankur/.gitignore
[credential]
	helper = osxkeychain
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
