[user]
	name = Ankur Oberoi
	email = aoberoi@gmail.com
[color]
	ui = true
[core]
	excludesfile = /Users/ankur/.gitignore
	pager = less -R
[credential]
	helper = osxkeychain
[alias]
	lol = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = /Applications/P4Merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
